DB_PASSWORD=${db_password}
BUILD_DB_PWD=${build_db_pwd}
KEYSTORE_PASSWORD=${keystore_password}
TRUSTSTORE_PASSWORD=${truststore_password}
HYDRA_USER_PASSWORD=${hydra_user_password}
CONSUMER_PASSWORD=${consumer_password}
PRODUCER_PASSWORD=${producer_password}
ENCRYPTION_KEY=${encryption_key}
